/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  --clr-primary-5: #2caeba;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1070px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.9rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.15rem;
}
h4 {
  font-size: 0.775rem;
}
h5 {
  font-size: 0.725rem;
}
p {
  margin-bottom: 0.15rem;
  color: var(--clr-grey-5);
}
select {
  font-size: 1rem;
}

/*  */
/* main */
/*  */

main {
  width: 90vw;
  margin: 3rem auto;
  max-width: var(--max-width);
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 2rem;
  text-align: center;
}

/*
=============== 
Container
===============
*/

.container {
  width: 80vw;
  margin: 0 auto;
  padding: 1.8rem;
  max-width: var(--max-width);
  /* background-color: var(--clr-grey-9); */
}

.spinner-border {
  margin-top: 5rem;
  width: 6rem;
  height: 6rem;
}
/*  */
/* Filtering Area */
/*  */

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter-selection {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin-right: 2rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: var(--clr-primary-10);
  margin-bottom: 1rem;
  display: flex;
}
.filter-selection label {
  width: 6rem;
}
.filter-selection select {
  border-color: var(--clr-grey-7);
  height: 1.8rem;
  width: 6rem;
}

.filter-btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  display: inline-block;
  width: 5rem;
  height: 2.2rem;
  text-align: center;

  margin: 0 auto;
}
.filter-btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

/*  */
/* Sorting Area */
/*  */

.sorting-area {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  position: relative;
  color: var(--clr-grey-4);
  margin: 1.8rem 0;
}
.sort-by {
  width: 5rem;
}

.btn-invert {
  background: var(--clr-grey-10);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 30%;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  right: 0;
  /* top: 5px; */
}
.btn-invert img {
  width: 80%;
}

.btn-invert p {
  font-size: 0.6rem;
}

.btn-invert:hover {
  background: var(--clr-grey-9);
}

/*  */
/* Results container */
/*  */

.results-container {
  background-color: var(--clr-grey-9);
  padding: 1.8rem 1.8rem 0.5rem 1.8rem;
  max-height: 90vh;
  border-radius: 1rem;
  overflow: auto;
}

.company-info {
  background-color: var(--clr-white);
  margin: 0 0 1.2rem 0;
  padding: 0.7rem 1.6rem;
  border-radius: 20px;
}
.company-info h3 {
  font-weight: 400;
}
.company-info h4 {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  background: var(--clr-grey-9);
  display: inline-block;
  padding: 0.275rem 0.75rem;
  border-radius: var(--radius);
}

.alert-no-match {
  color: var(--clr-red-dark);
}

@media screen and (min-width: 992px) {
  main {
    width: 95vw;
  }
  .container {
    width: 90vw;
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 4rem;
  }
  .filter-container {
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--clr-grey-9);
  }
  .sorting-area {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sort-by {
    margin-bottom: 1rem;
  }
  .filter-selection {
    margin-bottom: 1rem;
  }
  .filter-selection select {
    width: 10rem;
  }
}

@media screen and (max-width: 500px) {
  main {
    margin: 1rem;
  }
  .container {
    width: 90vw;
  }
  .sorting-area {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sort-by {
    margin-bottom: 1rem;
  }
}
